/***************************************
 * file : /Contents/resource.html
 * tree
 **************************************/
#nx-contents-resource {
   height: 100%;
   width: 100%;
}

.nx-contents-resource-left {
   height: 100%;
}

#nx-resource-tabstrip {
   font-size: 12px;
   position: absolute;
   bottom: 0px;
   top: 0px;
   left: 0px;
   right: 0px;
   background-color: #fff;
   border: 0px;
}

.nx-resource-tab {
   font-weight: 600;
   margin: 0px !important;
}

.nx-resource-tab > .k-state-default {
   background-color: #c5c5c5 !important;
   background-image: none !important;
   border-radius:0px;
}

.nx-resource-tab > .k-state-hover {
   background-color: #5a5d63 !important;
   background-image: none !important;
}

.nx-resource-tab > .k-state-active {
   background-color: #5a5d63 !important;
   background-image: none !important;
}

.nx-resource-tab-body {
   margin: 0px !important;
   height: 88% !important;
   border: 0px !important;
}

.nx-resource-tab-body > .k-tabstrip-wrapper {
   height: 100%;
}

.nx-resource-tab-li {
   width: 33%;
   border: 0px !important;
}

.nx-resource-tab-li span.k-loading {
   border: 0px;
}

.nx-resource-tab-li span.k-link {
   color: #fff !important;
}
